body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f739e;
    color: whitesmoke;
}

.title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
}

header i{
    font-size: xx-large;
    padding: 10px;
}

nav{
    display: none;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenida img{
    width: 100%;
}

.texto-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: dimgray;
}

.texto-bienvenida small{
    color: #FF5B4F;
    font-weight: bold;
}
.texto-bienvenida h2{
    color: #6f739e;
    font-weight: bolder;
}

.texto-bienvenida button{
    padding: 10px;
    background-color: #6f739e;
    color: whitesmoke;
    font-weight: bold;
}

.title-equipos{
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
    background-color: #FF5B4F;
}

.equipo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.equipo img{
    width: 100%;
    display: block;
    transition: filter 1.5s ease;
}

.card-equipo{
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-equipo p{
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.card-equipo:hover img{
    filter: brightness(30%);
    transform: scale(1.5);

}

.card-equipo:hover p {
    opacity: 1;
    color: whitesmoke;
    font-weight: bold;
}
/*

.card-equipo p{
    transform: translate(-50%, -50);
}
*/
.servicios{
    margin-top: 20px;
}

.servicios span{
    font-size: xx-large;
    margin-top: 10px;
}

.servicios small{
    font-size: large;
    margin-bottom: 10px;
}

.card-servicios1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FF5B4F;
    color: whitesmoke;
}

.card-servicios2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #595d8f;
    color: whitesmoke;
}

.card-servicios3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #3caf9e;
    color: whitesmoke;
}

.texto-terapias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #6f739e;
    font-weight: bolder;
}

.texto-terapias small{
    color: #FF5B4F;
}

.cada-terapia{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    opacity: 0.7;
}

.lista-terapias{
    text-align: center;
    font-size: medium;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
}

footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #6f739e;
    color: whitesmoke;
    padding: 10px;
}

.rrss{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: medium;
}

.info h3{
    margin: 0;
}

.info{
    display: none;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: small;
}

@media screen and (min-width: 576px){

    .container{
        display: grid;
        grid-template-areas: 
        "header main"
        "footer footer" 
        ;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
        opacity: 0.7;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    header h1{
        font-size: 24px;
        margin-right: 10px;

    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        font-size: 16px;
        font-weight: bold;
    }

    .hide-menu{
        display: none;
    }

    .bienvenida{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 30px;
    }

    .equipo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        place-items: center;
    }

    .card-equipo img{
        width: 300px;
        height: 280px;
    }

    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .card-servicios1, .card-servicios2, .card-servicios3{
        padding: 5px;
    }

    .servicios small{
        font-size: medium;
    }

    .terapias{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        font-size: large;
    }

    .cada-terapia:hover{
        transform: scale(2);
    }

    footer{
        background-color: #34365c;
        grid-template-columns: repeat(3, 1fr);
    }

    footer small{
        font-size: medium;
    }

    .iconos{
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: xx-large;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        font-size: small;
    }

    .horario{
        margin: 10px;
    }

}